.footer {
  width: 100%;
  background: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  text-align: center;
}

.socialMedia svg {
  color: #F5F5F5;
  margin: 10px;
  font-size: 5vh;
  cursor: pointer;
}

.footer p {
  color: #F5F5F5;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}
